/* 1. BODY - font family và font size */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;}
/* 2. HEADER - background color */
header {
    background-color: lightblue;}
/* 3. NAV - background color */
nav {
    background-color: rgb(238, 240, 163);}
/* 4. MAIN - background color và font size */
main {
    background-color: white;
    font-size: 18px;}
/* 5. FOOTER - background color */
footer {
    background-color: lightgray;}
/* 6. LI - display và width */
li {
    display: inline-block;
    width: 30%;}
/* 7. H1 - text alignment, font family, color */
h1 {
    text-align: center;
    font-family: Georgia, serif;
    color: rgb(241, 159, 196);}
/* 8. P - line height */
p {
    line-height: 1.6;}